@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto LocalHealth!</h1>
    <div class="funcionalidades">
        <div class="funcionalidade">
            <strong class="titulo">Funcionalidade de Pesquisa:</strong><br>
            A funcionalidade de pesquisa permite encontrar informações específicas dentro do sistema.<br>
            <strong>Dados escolhidos: Nome de uma Doença, Médico, Exames solicitados</strong>
        </div>
        <div class="funcionalidade">
            <strong class="titulo">Funcionalidade de Exportação para CSV:</strong><br>
            A funcionalidade de exportação para CSV será útil para obter os Médicos registrados no sistema, contendo todos os seus atributos.
        </div>
    </div>


</div>
